name: Development Branches
on:
  push:
    branches-ignore: [ main ]
    paths:
     - 'Windows/Setup-LeagueClient.ps1'
     - '.github/workflows/local.yml'
     - 'action.yml'
  pull_request:
    branches-ignore: [ main ]
    paths:
     - 'Windows/Setup-LeagueClient.ps1'
     - '.github/workflows/local.yml'
     - 'action.yml'
  workflow_dispatch:
concurrency: lol
jobs:
  install:
    name: Test the action
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup the League Client
      id: league-client
      uses: ./
      with:
        username: ${{ secrets.LOL_USERNAME }}
        password: ${{ secrets.LOL_PASSWORD }}
        region: ${{ secrets.LOL_REGION }}
        
    - name: Test outputs
      uses: actions/github-script@v6
      with:
        script: |
          "${{ steps.league-client.outputs.lcu-password }}".length === 0 && core.setFailed("No LCU Password Output");
          "${{ steps.league-client.outputs.lcu-port }}".length === 0 && core.setFailed("No LCU Port Output");
          "${{ steps.league-client.outputs.lcu-directory }}".length === 0 && core.setFailed("No LCU Directory Output");
